<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TokenGuard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unified.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    
    <!-- Common JavaScript -->
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    
    {% block scripts %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
